
:root{
    --transition:.5s all;
    --transition1:.5s all;
    --bgcolor:#021750;;
    --hadderbg:#021750;
    --color:white;
    --font:'Lato','sans-serif';
    --font_size:1.3rem;
    --hoverc:rgb(55, 197, 216);
    --text-size:14px;
    --font-size-400pxafter:13px;
}
/* ===============================================
Main Page
=============================================== */

  p{
      padding: .7rem 0;
  }

.blog-container{

    width:65%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin: 2rem auto;
    font-family: var(--font);
}

.blog-container  h1{
    text-transform: capitalize;
    /* align-self: ce; */
    line-height: 3.4rem;
    font-size: 2rem;
    padding: 1.3rem 0;
}
.blog-container > .para{
    font-size: var(--font_size);
    /* text-align: justify; */
    line-height: 1.8rem;
    margin: 1.5rem 0;

}

.blog-container > .img ,p>img,.img{
    align-self: center;
    width: 50%;
    height: 50%;
    object-fit: cover;
    margin: 10px auto;
}
.blog-container > .para::first-letter{
    
    color: red;
}



.alert{
    font-size: var(--font);
    background-color: red;
    /* text-align: center; */
    padding: 10px 0;
}

.ListOfBlogs{
    
}

.ListOfBlogs > .BlogShort{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    /* border: 1px solid black; */
    /* box-shadow: 0px 0px 10px black; */
    margin: 2rem 0;
}
.BlogInformation{
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}

.BlogInformation > img{
    width: 100%;
    height: 70%;
}

@media only screen and (max-width: 1200px) {


    .blog-container > h1,h1{
        font-size: 1.4rem;
    }
    .blog-container > .para{
        font-size: 1.0rem;
    }
    .blog-container > .img{
        width: 60%;
    
    }
}